{% block form_row %}
    {% spaceless %}
        <div class="row-fluid">
            <div class="span4">
                {{ form_label(form) }}
            </div>
            <div class="span8">
                {{ form_widget(form) }}
            </div>
        </div>
        {% if errors|length > 0 %}
            <div class="row-fluid">
                <div class="span8 offset4 alert alert-error">
                    {{ form_errors(form) }}
                </div>
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_row %}
