{% extends 'EprstAcargoBundle:Default:index.html.twig' %}

{% block left %}
    {{ render(controller('EprstAcargoBundle:Menu:leftMenu', {_route: app.request.attributes.get('_route')})) }}
{% endblock %}

{% block content %}
    <h1><small>{% trans %}Carriers list{% endtrans %}</small></h1>

    {% if items is not empty %}
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    {#<th>Logo?</th>#}
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th>{% trans %}Carrier type{% endtrans %}</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    {#<td></td>#}
                    <td>{{ item.name }}</td>
                    <td>{{ item.carrierType.name }}</td>
                    <td><a href="{{ path('avia_carrier_edit', {id: item.id}) }}"><i
                                    class="icon-pencil"></i> {% trans %}Edit{% endtrans %}</a></td>
                    <td><a href="{{ path('avia_carrier_delete', {id: item.id}) }}"><i
                                    class="icon-trash"></i> {% trans %}Delete{% endtrans %}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        There are no carriers. <a href="{{ path('avia_carrier_add') }}">{% trans %}Add one...{% endtrans %}</a>
    {% endif %}
{% endblock %}
