{% extends 'EprstAcargoBundle:Default:index.html.twig' %}

{% block left %}
    {{ render(controller('EprstAcargoBundle:Menu:leftMenu', {_route: app.request.attributes.get('_route')})) }}
{% endblock %}

{% block content %}
    <h1><small>{% trans with {'%name%': entity.dateFrom|date('d.m.Y') ~ " - " ~ entity.dateTo|date('d.m.Y')} %}Are you sure you want to delete agent report &laquo;%name%&raquo;?{% endtrans %}</small></h1>

    {{ form(form) }}
{% endblock %}
