<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title>Счет</title>

    <style type="text/css">
        * {
            font-family: "DejaVu Sans", sans-serif;
        }
        body {
            padding-left: 5em;
        }
    </style>

    <style>
        <!--
            /* Style Definitions */
        p.MsoNormal, li.MsoNormal, div.MsoNormal {
            margin: 0;
            font-size: 10.0pt;
        }

        h1 {
            margin: 0cm;
            margin-bottom: .0001pt;
            text-align: center;
            page-break-after: avoid;
            font-size: 14.0pt;
            font-weight: normal;
        }

        h2 {
            margin: 0cm;
            margin-bottom: .0001pt;
            page-break-after: avoid;
            font-size: 14.0pt;
            color: black;
        }

        h3 {
            margin: 0cm;
            margin-bottom: .0001pt;
            text-align: right;
            page-break-after: avoid;
            font-size: 10.0pt;
            color: black;
        }

        h4 {
            margin: 0cm;
            margin-bottom: .0001pt;
            page-break-after: avoid;
            font-size: 12.0pt;
            color: black;
            font-weight: normal;
        }

        h5 {
            margin-top: 0cm;
            margin-right: 0cm;
            margin-bottom: 0cm;
            margin-left: 144.0pt;
            margin-bottom: .0001pt;
            text-indent: 36.0pt;
            page-break-after: avoid;
            font-size: 12.0pt;
            color: black;
            font-weight: normal;
        }

        h6 {
            margin: 0cm;
            margin-bottom: .0001pt;
            text-align: center;
            page-break-after: avoid;
            font-size: 10.0pt;
            color: black;
        }

        p.MsoHeading7, li.MsoHeading7, div.MsoHeading7 {
            margin: 0cm;
            margin-bottom: .0001pt;
            text-align: right;
            page-break-after: avoid;
            font-size: 10.0pt;
            font-weight: bold;
        }

        p.MsoBodyText, li.MsoBodyText, div.MsoBodyText {
            margin: 0cm;
            margin-bottom: .0001pt;
            text-align: right;
            font-size: 10.0pt;
            color: black;
            font-weight: bold;
        }

        p.MsoBodyText2, li.MsoBodyText2, div.MsoBodyText2 {
            margin: 0cm;
            margin-bottom: .0001pt;
            text-align: center;
            font-size: 16.0pt;
            color: black;
        }

        p.MsoAcetate, li.MsoAcetate, div.MsoAcetate {
            margin: 0cm;
            margin-bottom: .0001pt;
            font-size: 8.0pt;
        }

        @page WordSection1 {
            size: 595.3pt 841.9pt;
            margin: 35.45pt 70.9pt 72.0pt 70.9pt;
        }

        div.WordSection1 {
            page: WordSection1;
        }

            /* List Definitions */
        ol {
            margin-bottom: 0cm;
        }

        ul {
            margin-bottom: 0cm;
        }

        -->
    </style>

</head>

<body lang=RU>

<div class=WordSection1>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 style='width:442pt;border-collapse:collapse;border:none'>
    <tr style='height:34.35pt'>
        <td valign=top style='width:442pt;border:solid windowtext 1.0pt;
  padding:0cm 1.5pt 0cm 1.5pt;height:34.35pt'>
            <h3 align=center style='text-align:center'><span style='font-size:14.0pt;
  font-weight:normal'>&nbsp;</span></h3>

            <h3 align=center style='text-align:center'><span style='font-size:14.0pt;
  font-weight:normal'>ООО «Альянс Карго»</span></h3>

            <p class=MsoBodyText2><span style='font-size:12.0pt'>420094 Казань ул. Миславского,9,
  офис 407</span></p>

            <p class=MsoBodyText2><span style='font-size:12.0pt'>ИНН 1657041735</span><span
                        style='font-size:12.0pt'>БИК 049209778 КПП 165501001</span></p>

            <p class=MsoBodyText2><span style='font-size:12.0pt'>р</span><span
                        style='font-size:12.0pt'>/с 40702810100000009242</span></p>

            <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-size:12.0pt;'>к/с
  30101810300000000778 в ОАО «АНКОР БАНКЕ»</span></p>

            <p class=MsoNormal align=center style='text-align:center'><span
                        style='font-size:14.0pt;;color:black'>&nbsp;</span></p>
        </td>
    </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal align=center style='text-align:center'><span
            style='font-size:16.0pt;'>Счет №{{ "%03d"|format(invoiceNumber) }}  от {{ entity.dateTo|date('d.m.Y') }}
        г.</span></p>

<p class=MsoNormal align=center style='text-align:center'><span
            style='font-size:16.0pt;'>&nbsp;</span></p>

<p class=MsoNormal>&nbsp;</p>

<table cellspacing=0 cellpadding=0 style='width:442pt;border-collapse:collapse;border:none'>
    <tr style='height:15.95pt'>
        <td width=115 valign=top style='width:87pt;border-top:solid windowtext 1.0pt;
  border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
  padding:0cm 1.5pt 0cm 1.5pt;height:15.95pt'>
            <h6>Плательщик</h6>
        </td>
        <td width=473 valign=top style='width:354.4pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt;
  padding:0cm 1.5pt 0cm 1.5pt;height:15.95pt'>
            <p class=MsoHeading7><span style=''>{{ entity.agent.nameOfficial }}</span></p>
        </td>
    </tr>
    <tr style='height:15.95pt'>
        <td valign=top style='width:87pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
  none;padding:0cm 1.5pt 0cm 1.5pt;height:15.95pt'>
            <h6>&nbsp;</h6>
        </td>
        <td valign=top style='width:35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.5pt 0cm 1.5pt;height:15.95pt'>
            <p class=MsoNormal align=right style='text-align:right;text-autospace:ideograph-numeric'><b><span
                            style=''>443022, г</span></b><b><span style=''>. {{ entity.agent.legalAddress }}</span></b>
            </p>
        </td>
    </tr>
</table>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal><span style=''>Услуги по организации авиаперевозок грузов {{ entity.dateFrom|date('d.m.Y') }} – {{ entity.dateTo|date('d.m.Y') }} </span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 style='width:440.95pt; margin-left:-5.6pt;border-collapse:collapse'>
    <tr style='height:20.35pt'>
        <td colspan=10 valign=top style='padding:0cm 1.5pt 0cm 1.5pt;
  height:20.35pt'>
            <p class=MsoNormal><b><span style=';
  color:black'>Авианакладная:</span></b><span style='font-size:12.0pt'> </span><span
                        style=''>{{ entity.awbs }}</span></p>
        </td>
    </tr>
    <tr style='height:15.95pt'>
        <td width=170 valign=top style='width:127.6pt;padding:0cm 1.5pt 0cm 1.5pt;
  height:15.95pt'>
            <p class=MsoNormal><b><span style=';
  color:black'>Вес, кг:</span></b></p>
        </td>
        <td width=90 colspan=2 valign=top style='width:67.55pt;padding:0cm 1.5pt 0cm 1.5pt;
  height:15.95pt'>
            <p class=MsoNormal align=center style='text-align:center'><span
                        style=';color:black'>{{ entity.totalGrossWeight }}</span></p>
        </td>
        <td width=124 colspan=2 valign=top style='width:93.15pt;padding:0cm 1.5pt 0cm 1.5pt;
  height:15.95pt'>
            <p class=MsoNormal><b><span style=';
  color:black'>Кол-во мест:</span></b></p>
        </td>
        <td width=48 colspan=3 valign=top style='width:35.9pt;padding:0cm 1.5pt 0cm 1.5pt;
  height:15.95pt'>
            <p class=MsoNormal align=center style='text-align:center'><span
                        style=';color:black'>{{ entity.pieces }}</span></p>
        </td>
        <td width=10 valign=top style='width:7.2pt;padding:0cm 1.5pt 0cm 1.5pt;
  height:15.95pt'>
            <p class=MsoNormal align=center style='text-align:center'><span
                        style=';color:black'>&nbsp;</span></p>
        </td>
        <td width=106 colspan=3 valign=top style='width:79.7pt;padding:0cm 1.5pt 0cm 1.5pt;
  height:15.95pt'>
            <p class=MsoNormal align=center style='text-align:center'><b><span
                            style=';color:black'>&nbsp;</span></b></p>
        </td>
        <td width=83 colspan=3 valign=top style='width:62.35pt;padding:0cm 1.5pt 0cm 1.5pt;
  height:15.95pt'>
            <p class=MsoNormal align=center style='text-align:center'><span
                        style=';color:black'>&nbsp;</span></p>
        </td>
        <td width=5 valign=top style='width:4.05pt;padding:0cm 1.5pt 0cm 1.5pt;
  height:15.95pt'>
            <p class=MsoNormal align=right style='text-align:right'><span
                        style=';color:black'>&nbsp;</span></p>
        </td>
        <td style='border:none;padding:0cm 0cm 0cm 0cm' width=6><p class='MsoNormal'>&nbsp;</td>
    </tr>
    <tr style='height:15.95pt'>
        <td width=170 valign=top style='width:127.6pt;padding:0cm 1.5pt 0cm 1.5pt;
  height:15.95pt'>
            <p class=MsoNormal><b><span style=';
  color:black'>Оплачиваемый вес, кг:</span></b></p>
        </td>
        <td width=104 colspan=3 valign=top style='width:78.15pt;padding:0cm 1.5pt 0cm 1.5pt;
  height:15.95pt'>
            <p class=MsoNormal align=center style='text-align:center'><span
                        style=';color:black'>{{ entity.totalPaidWeight }}</span></p>
        </td>
        <td width=111 colspan=2 valign=top style='width:83.15pt;padding:0cm 1.5pt 0cm 1.5pt;
  height:15.95pt'>
            <p class=MsoNormal><b><span style=';
  color:black'> </span></b></p>
        </td>
        <td width=102 colspan=4 valign=top style='width:76.45pt;padding:0cm 1.5pt 0cm 1.5pt;
  height:15.95pt'>
            <p class=MsoNormal><span style=';color:black'>        
  </span></p>
        </td>
        <td width=47 valign=top style='width:35.15pt;padding:0cm 1.5pt 0cm 1.5pt;
  height:15.95pt'>
            <p class=MsoNormal><span style=';color:black'>&nbsp;</span></p>
        </td>
        <td width=47 colspan=2 valign=top style='width:35.15pt;padding:0cm 1.5pt 0cm 1.5pt;
  height:15.95pt'>
            <p class=MsoNormal><span style=';color:black'>&nbsp;</span></p>
        </td>
        <td width=33 valign=top style='width:24.8pt;padding:0cm 1.5pt 0cm 1.5pt;
  height:15.95pt'>
            <p class=MsoNormal><span style=';color:black'>&nbsp;</span></p>
        </td>
        <td width=29 colspan=3 valign=top style='width:21.55pt;padding:0cm 1.5pt 0cm 1.5pt;
  height:15.95pt'>
            <p class=MsoNormal><span style=';color:black'>&nbsp;</span></p>
        </td>
    </tr>
    <tr height=0>
        <td width=170 style='border:none'></td>
        <td width=42 style='border:none'></td>
        <td width=48 style='border:none'></td>
        <td width=14 style='border:none'></td>
        <td width=110 style='border:none'></td>
        <td width=1 style='border:none'></td>
        <td width=37 style='border:none'></td>
        <td width=10 style='border:none'></td>
        <td width=10 style='border:none'></td>
        <td width=45 style='border:none'></td>
        <td width=47 style='border:none'></td>
        <td width=14 style='border:none'></td>
        <td width=33 style='border:none'></td>
        <td width=33 style='border:none'></td>
        <td width=17 style='border:none'></td>
        <td width=5 style='border:none'></td>
        <td width=6 style='border:none'></td>
    </tr>
</table>

<p class=MsoNormal><span style=''>&nbsp;</span></p>

<p class=MsoNormal>&nbsp;</p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 style='width:432pt;border-collapse:collapse'>
    <tr style='height:16.0pt'>
        <td width=24 valign=top style='width:18pt;border:solid windowtext 1.0pt;
  padding:0cm 1.5pt 0cm 1.5pt;height:16.0pt'>
            <p class=MsoNormal align=center style='text-align:center'><b><span
                            style=';color:black'>№</span></b></p>
        </td>
        <td valign=top style='width:212pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 1.5pt 0cm 1.5pt;height:16.0pt'>
            <p class=MsoNormal align=center style='text-align:center'><b><span
                            style=';color:black'>Вид услуг</span></b></p>
        </td>
        <td valign=top style='width:210pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 1.5pt 0cm 1.5pt;height:16.0pt'>
            <p class=MsoNormal align=center style='text-align:center'><b><span
                            style=';color:black'>Сумма,</span></b></p>

            <p class=MsoNormal align=center style='text-align:center'><b><span
                            style=';color:black'>руб.</span></b></p>
        </td>
    </tr>
    <tr style='height:16.0pt'>
        <td valign=top style='border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.5pt 0cm 1.5pt;height:16.0pt'>
            <p class=MsoNormal><span style=';color:black'>1.</span></p>
        </td>
        <td valign=top style='border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.5pt 0cm 1.5pt;height:16.0pt'>
            <p class=MsoNormal><span style=';color:black'>Авиафрахт</span></p>
        </td>
        <td valign=top style='border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.5pt 0cm 1.5pt;height:16.0pt'>
            <p class=MsoNormal align=center style='text-align:center'><span
                        style=';color:black'>{{ entity.totalAmount }}</span></p>
        </td>
    </tr>
    <tr style='height:16.0pt'>
        <td valign=top style='border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.5pt 0cm 1.5pt;height:16.0pt'>
            <p class=MsoNormal><span style=';color:black'>2.
  </span></p>
        </td>
        <td valign=top style='border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.5pt 0cm 1.5pt;height:16.0pt'>
            <p class=MsoNormal><span style=';color:black'>Топливный
  сбор</span></p>
        </td>
        <td valign=top style='border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.5pt 0cm 1.5pt;height:16.0pt'>
            <p class=MsoNormal align=center style='text-align:center'><span
                        style=';color:black'>{{ entity.totalFeeMyc }}</span></p>
        </td>
    </tr>
    <tr style='height:16.0pt'>
        <td valign=top style='border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.5pt 0cm 1.5pt;height:16.0pt'>
            <p class=MsoNormal><span style=';color:black'>3.
  </span></p>
        </td>
        <td valign=top style='border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.5pt 0cm 1.5pt;height:16.0pt'>
            <p class=MsoNormal><span style=';color:black'>Сбор
  за безопасность</span></p>
        </td>
        <td valign=top style='border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.5pt 0cm 1.5pt;height:16.0pt'>
            <p class=MsoNormal align=center style='text-align:center'><span
                        style=';color:black'>{{ entity.totalFeeXdc }}</span></p>
        </td>
    </tr>
    <tr style='height:16.0pt'>
        <td valign=top style='border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.5pt 0cm 1.5pt;height:16.0pt'>
            <p class=MsoNormal><span style=';color:black'>&nbsp;</span></p>
        </td>
        <td valign=top style='border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.5pt 0cm 1.5pt;height:16.0pt'>
            <p class=MsoNormal><span style=';color:black'>&nbsp;</span></p>
        </td>
        <td valign=top style='border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.5pt 0cm 1.5pt;height:16.0pt'>
            <p class=MsoNormal align=right style='text-align:right'><span
                        style=';color:black'>&nbsp;</span></p>
        </td>
    </tr>
    <tr style='height:16.0pt'>
        <td valign=top style='border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.5pt 0cm 1.5pt;height:16.0pt'>
            <p class=MsoNormal><b><span style=';
  color:black'>&nbsp;</span></b></p>
        </td>
        <td valign=top style='border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.5pt 0cm 1.5pt;height:16.0pt'>
            <p class=MsoNormal><b><span style=';
  color:black'>ИТОГО</span></b></p>
        </td>
        <td valign=top style='border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.5pt 0cm 1.5pt;height:16.0pt'>
            <p class=MsoNormal align=center style='text-align:center'><b><span
                            style=';color:black'>{{ entity.totalAmount + entity.totalFeeMyc + entity.totalFeeXdc }}</span></b>
            </p>
        </td>
    </tr>
</table>

<p class=MsoNormal><span style='font-size:12.0pt;'>&nbsp;</span></p>

<p class=MsoNormal><span style='font-size:9.5pt;'>НДС не облагается.</span></p>


<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
       style='margin-left:5.4pt;border-collapse:collapse;border:none'>
    <tr>
        <td width=586 valign=top style='width:439.45pt;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'>
            <p class=MsoNormal align=center style='text-align:center'><b><span
                            style='font-size:12.0pt;;color:black'>&nbsp;</span></b></p>

            <p class=MsoNormal align=center style='text-align:center'><b><span
                            style='font-size:12.0pt;;color:black'>{{ sum_in_words(entity.totalAmount + entity.totalFeeMyc + entity.totalFeeXdc)|capitalize }}</span></b></p>

            <p class=MsoNormal align=center style='text-align:center'><b><span
                            style='font-size:12.0pt;;color:black'>&nbsp;</span></b></p>
        </td>
    </tr>
</table>

<p class=MsoNormal style='text-align:justify'><span style='font-size:8.0pt;
;color:black'>Оплата в течение 3-х банковских дней.</span></p>

<p class=MsoNormal style='text-align:justify'><b><span style='font-size:8.0pt;'>&nbsp;</span></b></p>

<div style="position: relative;">
    <p class=MsoNormal><span style='font-size:12.0pt;'>Зам.директора</span></p>
    <p class="MsoNormal" style="font-size:12.0pt; position: absolute; right: 0; top: -1px">Сафина А.М.</p>
</div>

{% if signed %}
<div style="position: absolute; bottom: 0px; right: 35%;">
    <img src="file:///{{ appRootDir }}/../src/Eprst/Bundle/AviaBundle/Resources/bin/acargo_stamp_sign.png"/>
</div>
{% endif %}

<p class=MsoNormal align=right style='text-align:right'><span style='font-size:
12.0pt;'>&nbsp;</span></p>

<p class=MsoNormal align=right style='text-align:right'><span style='font-size:
12.0pt;'>по доверенности №252<br>от 26.12.2013 г.</span></p>

<p class=MsoNormal>&nbsp;</p>

</div>

</body>

</html>
