{% extends 'EprstAcargoBundle:Default:index.html.twig' %}

{% block left %}
    {{ render(controller('EprstAcargoBundle:Menu:leftMenu', {_route: app.request.attributes.get('_route')})) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('table').acRowSelect();
    </script>
{% endblock %}

{% block content %}
    <h1><small>{% trans %}Approved agent reports{% endtrans %}</small></h1>

    {% if items is not empty %}
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>{% trans %}Agent{% endtrans %}</th>
                    <th>{% trans %}Date period{% endtrans %}</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.agent.name }}</td>
                    <td>
                        <a href="{{ path('avia_report_agent_show', {reportId: item.id}) }}">
                            {{ item.dateFrom|date('d.m.Y') }}&nbsp;&mdash;&nbsp;{{ item.dateTo|date('d.m.Y') }}
                        </a>
                    </td>
                    <td><a class="ac-edit-link" href="{{ path('avia_report_agent_show', {reportId: item.id}) }}"><i
                                    class="icon-eye-open"></i> {% trans %}View{% endtrans %}</a></td>
                    <td><a href="{{ path('avia_report_agent_saved_delete', {id: item.id}) }}"><i
                                    class="icon-trash"></i> {% trans %}Delete{% endtrans %}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% trans %}There are no approved reports.{% endtrans %}
    {% endif %}
{% endblock %}
