{% extends 'EprstAcargoBundle:Default:index.html.twig' %}

{% block left %}
    {{ render(controller('EprstAcargoBundle:Menu:leftMenu', {_route: app.request.attributes.get('_route')})) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/eprstavia/css/reports.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <h1><small>{% trans %}Agent reports{% endtrans %}{% if agentName is not empty %} &laquo;{{ agentName }}&raquo;{% endif %}</small></h1>

    <div class="row">

        <div class="span2">
            {{ form_start(formExport, {attr: {target: "_blank"}}) }}
            <div class="row">
                <div class="span2">{{ form_label(formExport.signed) }}</div>
                <div class="span2">{{ form_widget(formExport.signed) }}</div>
            </div>
            <div class="row">
                <div class="span2">{{ form_widget(formExport.export, {attr:{class: 'btn btn-primary' }}) }}</div>
            </div>
            {{ form_end(formExport) }}
        </div>

        <div class="span3">
            {{ form_start(formInvoice, {attr: {target: "_blank"}}) }}
            <div class="row">
                <div class="span2">{{ form_label(formInvoice.invoiceNumber) }}</div>
                <div class="span2">{{ form_widget(formInvoice.invoiceNumber, {attr: {class: "report-numeric"}}) }}</div>
            </div>
            <div class="row">
                <div class="span2">{{ form_label(formInvoice.signed) }}</div>
                <div class="span2">{{ form_widget(formInvoice.signed) }}</div>
            </div>
            <div class="row">
                <div class="span2">{{ form_widget(formInvoice.invoice, {attr:{class: 'btn btn-primary' }}) }}</div>
            </div>
            {{ form_end(formInvoice) }}
        </div>

        <div class="span4">
            {{ form_start(formSimple) }}
            <div class="row">
                <div class="span1">{{ form_widget(formSimple.delete, {attr:{class: 'btn btn-danger' }}) }}</div>
            </div>
            {{ form_end(formSimple) }}
        </div>
    </div>

    <hr>

    {% include 'EprstAviaBundle:AgentReport:report.html.twig' %}

{% endblock %}
