{% extends 'EprstAcargoBundle::layout.html.twig' %}

{% block left %}
    {{ render(controller('EprstAcargoBundle:Menu:leftMenu', {_route: ''})) }}
{% endblock %}

{% block content %}
    No content available for this page
{% endblock %}