{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input style="width: 5em;" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock form_widget_simple %}