<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% trans from 'common' %}Welcome{% endtrans %}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                    "../vendor/twbs/bootstrap/less/bootstrap.less"
                    "../vendor/twbs/bootstrap/less/responsive.less"
                    filter="lessphp"
                    output="css/bootstrap.css"
            %}
                <link href="{{ asset_url }}" rel="stylesheet" type="text/css"/>
            {% endstylesheets %}
            {% stylesheets
                "../app/Resources/public/bootstrap-ext/datepicker/css/datepicker.css"
                "../app/Resources/public/css/*"
                '../app/Resources/public/tablesorter/css/theme.bootstrap.css'
            %}
                <link href="{{ asset_url }}" rel="stylesheet" type="text/css"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

            {% javascripts "@jquery" %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            {% javascripts "@bootstrap_js" %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            {% javascripts
                    "../app/Resources/public/bootstrap-ext/datepicker/js/bootstrap-datepicker.js"
                    '../app/Resources/public/js/*'
                    '../app/Resources/public/tablesorter/js/jquery.tablesorter.min.js'
                    '../app/Resources/public/tablesorter/js/jquery.tablesorter.widgets.min.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script type="text/javascript">
                $.extend($.tablesorter.themes.bootstrap, {
                    icons: '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
                    sortNone: 'bootstrap-icon-unsorted',
                    sortAsc: 'icon-chevron-up',
                    sortDesc: 'icon-chevron-down'
                });
            </script>

        {% endblock %}
    </body>
</html>
