{% extends 'EprstAcargoBundle:Default:index.html.twig' %}

{% block left %}
    {{ render(controller('EprstAcargoBundle:Menu:leftMenu', {_route: app.request.attributes.get('_route')})) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/senchaextjs/extjs/ext-all-dev.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/senchaextjs/extjs/ext-theme-neptune.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/senchaextjs/extjs/locale/ext-lang-ru.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
    <script type="text/javascript" src="{{ path('bazinga_exposetranslation_js') }}"></script>

    {% javascripts '@EprstAviaBundle/Resources/public/js/Eprst/bootstrap.js'
                   '@EprstAviaBundle/Resources/public/js/rates/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        var rateType = "{{ type }}";
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/senchaextjs/extjs/resources/css/ext-all-neptune.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset('bundles/eprstavia/css/extjs_bs_adapter.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/eprstavia/css/rates.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <h1><small>
            {% if type == 'agent' %}
                {% trans %}Agent rates{% endtrans %}
            {% else %}
                {% trans %}Carrier rates{% endtrans %}
            {% endif %}
        </small></h1>

    <div id="eprstaviabundle_rates_grid"></div>
    <button class="btn" type="button" id="eprstaviabundle_rates_grid_save" disabled="disabled">{% trans %}Save{% endtrans %}</button>

{% endblock %}
