{% extends 'EprstAcargoBundle:Default:index.html.twig' %}

{% block left %}
    {{ render(controller('EprstAcargoBundle:Menu:leftMenu', {_route: app.request.attributes.get('_route')})) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/eprstavia/css/reports.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <h1><small>{% trans %}Bank reports{% endtrans %}</small></h1>

    {{ form_start(filterForm) }}
    <div class="row">
        <div class="span3">
            {{ form_widget(filterForm.date_type) }}
        </div>
        <div class="span1">
            {{ form_label(filterForm.from) }}
        </div>
        <div class="span3">
            <div class="pull-left">{{ form_widget(filterForm.from, {attr: {class: 'report-date datepicked'}}) }}</div>
            <div class="pull-left">&nbsp;&mdash;&nbsp;</div>
            <div class="pull-left">{{ form_widget(filterForm.to, {attr: {class: 'report-date datepicked'}}) }}</div>
        </div>
        <div class="span1">{{ form_widget(filterForm.show, {attr: {class: 'btn btn-primary' }}) }}</div>
        <div class="span1">{{ form_widget(filterForm.export, {attr: {class: 'btn'}}) }}</div>
        <div class="span2">{{ form_widget(filterForm.approve, {attr: {class: 'btn btn-info'}}) }}</div>
    </div>
    {{ form_end(filterForm) }}

    <hr>

    {% if items is not empty %}
        <table class="report table table-bordered table-condensed" border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>{% trans from 'reports' into lang %}O/n{% endtrans %}</th>
                    <th>{% trans from 'reports' into lang %}Waybill{% endtrans %}</th>
                    <th>{% trans from 'reports' into lang %}Waybill date{% endtrans %}</th>
                    <th>{% trans from 'reports' into lang %}Source airport{% endtrans %}</th>
                    <th>{% trans from 'reports' into lang %}Destination airport{% endtrans %}</th>
                    <th>{% trans from 'reports' into lang %}Goods nature{% endtrans %}</th>
                    <th>{% trans from 'reports' into lang %}Number of pieces{% endtrans %}</th>
                    <th>{% trans from 'reports' into lang %}Gross weight{% endtrans %}</th>
                    <th>{% trans from 'reports' into lang %}Carrier paid weight{% endtrans %}</th>
                    <th>{% trans from 'reports' into lang %}Carrier rate{% endtrans %}</th>
                    <th>
                        {% trans from 'reports' into lang %}Carrier amount{% endtrans %}
                        <div class="header_formulae">(8)&nbsp;x&nbsp;(9)</div>
                    </th>
                    <th>
                        {% trans from 'reports' into lang %}Carrier agent fee{% endtrans %}
                        <div class="header_formulae">(10) x 5%</div>
                    </th>
                    <th>{% trans from 'reports' into lang %}Dues{% endtrans %}</th>
                    <th>
                        {% trans from 'reports' into lang %}Carrier total{% endtrans %}
                        <div class="header_formulae">(10) + (12)</div>
                    </th>
                </tr>
                <tr class="header_formulae">
                    <td></td>
                    <td>(1)</td>
                    <td>(2)</td>
                    <td>(3)</td>
                    <td>(4)</td>
                    <td>(5)</td>
                    <td>(6)</td>
                    <td>(7)</td>
                    <td>(8)</td>
                    <td>(9)</td>
                    <td>(10)</td>
                    <td>(11)</td>
                    <td>(12)</td>
                    <td>(13)</td>
                </tr>
            </thead>
            <tbody>
            {% set total_grossWeight = 0 %}
            {% set total_carrierPaidWeight = 0 %}
            {% set total_carrierAmount = 0 %}
            {% set total_carrierAgentFee = 0 %}
            {% set total_dues = 0 %}
            {% set total_carrierTotal = 0 %}
            {% for index, item in items %}
                <tr>
                    <td>{{ index + 1 }}</td>
                    <td>{{ mapper.get(item, "Waybill") }}</td>
                    <td>{{ mapper.get(item, "Waybill date") }}</td>
                    <td>{{ mapper.get(item, "Source airport") }}</td>
                    <td>{{ mapper.get(item, "Destination airport") }}</td>
                    <td>{{ mapper.get(item, "Goods nature") }}</td>
                    <td>{{ mapper.get(item, "Number of pieces") }}</td>
                    <td>{{ mapper.get(item, "Gross weight") }}</td>
                    <td>{{ mapper.get(item, "Carrier paid weight") }}</td>
                    <td>{{ mapper.get(item, "Carrier rate") }}</td>
                    <td>{{ mapper.get(item, "Carrier amount") }}</td>
                    <td>{{ mapper.get(item, "Agent rebate") }}</td>
                    <td>{{ mapper.get(item, "Dues") }}</td>
                    <td>{{ mapper.get(item, "Carrier total") }}</td>
                </tr>
                {% set total_grossWeight = total_grossWeight + mapper.get(item, "Gross weight") %}
                {% set total_carrierPaidWeight = total_carrierPaidWeight + mapper.get(item, "Carrier paid weight") %}
                {% set total_carrierAmount = total_carrierAmount + mapper.get(item, "Carrier amount") %}
                {% set total_carrierAgentFee = total_carrierAgentFee + mapper.get(item, "Agent rebate") %}
                {% set total_dues = total_dues + mapper.get(item, "Dues") %}
                {% set total_carrierTotal = total_carrierTotal + mapper.get(item, "Carrier total") %}
            {% endfor %}
                <tr>
                    <th colspan="7" style="text-align: right;">{% trans from 'reports' into lang %}Total{% endtrans %}</th>
                    <td>{{ total_grossWeight }}</td>
                    <td>{{ total_carrierPaidWeight }}</td>
                    <td></td>
                    <td>{{ total_carrierAmount|number_format(2, '.', '') }}</td>
                    <td>{{ total_carrierAgentFee|number_format(2, '.', '') }}</td>
                    <td>{{ total_dues|number_format(2, '.', '') }}</td>
                    <td>{{ total_carrierTotal|number_format(2, '.', '') }}</td>
                </tr>
            </tbody>
        </table>

        <div>
            <table>
                <tr>
                    <td>{% trans %}Payable{% endtrans %}:</td>
                    <td>{{ total_carrierTotal }} USD</td>
                </tr>
                <tr>
                    <td>{% trans %}Previous period agent fee{% endtrans %}:</td>
                    <td>{{ prevPeriodTotalAgentFee }} USD</td>
                </tr>
                <tr>
                    <td>{% trans %}Total{% endtrans %}:</td>
                    <td>{{ total_carrierTotal - prevPeriodTotalAgentFee }} USD</td>
                </tr>
            </table>
        </div>
    {% endif %}
{% endblock %}
