{% form_theme form ':Form:twbs_form_row.html.twig' %}

{{ form_start(form) }}
<div class="row-fluid">
    <div class="span4">
        {{ form_row(form.name) }}
        {{ form_row(form.nameOfficial) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.directorName) }}
        {{ form_row(form.accountantName) }}
        {{ form_row(form.legalAddress) }}
        {{ form_row(form.actualAddress) }}
        {{ form_row(form.postAddress) }}
    </div>
    <div class="span4">
        {{ form_row(form.inn) }}
        {{ form_row(form.kpp) }}
        {{ form_row(form.bik) }}
        {{ form_row(form.corrAccount) }}
        {{ form_row(form.currentAccount) }}
        {{ form_row(form.bank) }}
        {{ form_row(form.agreementNumber) }}
        {{ form_row(form.agreementDate, {attr: {class: 'datepicked'}}) }}
        {{ form_row(form.station) }}
        {{ form_row(form.nameFile) }}
    </div>
</div>

{{ form_row(form.save) }}

{{ form_end(form) }}