{% extends 'EprstAcargoBundle:Default:index.html.twig' %}

{% block left %}
    {{ render(controller('EprstAcargoBundle:Menu:leftMenu', {_route: app.request.attributes.get('_route')})) }}
{% endblock %}

{% block content %}
    <h1><small>{% trans %}Edit agent{% endtrans %}</small></h1>

    {% include 'EprstAviaBundle:Agent:agent_form.html.twig' %}

    <h4><a href="{{ path('avia_agent_people', {agent: entity.id}) }}">{% trans %}Responsibles{% endtrans %}</a></h4>

    {% include 'EprstAviaBundle:AgentPeople:list_raw.html.twig' with {items: entity.people, agent: entity} %}
{% endblock %}
