{% extends 'EprstAcargoBundle:Default:index.html.twig' %}

{% block left %}
    {{ render(controller('EprstAcargoBundle:Menu:leftMenu', {_route: app.request.attributes.get('_route')})) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('table').acRowSelect();
    </script>
{% endblock %}

{% block content %}
    <h1><small>{% trans %}Agents{% endtrans %}</small></h1>

    {% if items is not empty %}
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>{% trans %}Agent name{% endtrans %}</th>
                    <th>{% trans %}Station{% endtrans %}</th>
                    <th>{% trans %}Requisites{% endtrans %}</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.station.name }}</td>
                    <td>
                        {{ item.directorName }}
                        <br>
                        {{ item.inn }}, {{ item.kpp }}
                        <br>
                    </td>
                    <td><a class="ac-edit-link" href="{{ path('avia_agent_edit', {id: item.id}) }}"><i
                                    class="icon-pencil"></i> {% trans %}Edit{% endtrans %}</a></td>
                    <td><a href="{{ path('avia_agent_delete', {id: item.id}) }}"><i
                                    class="icon-trash"></i> {% trans %}Delete{% endtrans %}</a></td>
                    <td><a href="{{ path('avia_agent_people', {agent: item.id}) }}"><i
                                    class="icon-user"></i> {% trans %}Responsibles{% endtrans %}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% trans %}There are no agents.{% endtrans %} <a href="{{ path('avia_agent_add') }}">{% trans %}Add one...{% endtrans %}</a>
    {% endif %}
{% endblock %}
