{% extends 'EprstAcargoBundle:Default:index.html.twig' %}

{% block left %}
    {{ render(controller('EprstAcargoBundle:Menu:leftMenu', {_route: app.request.attributes.get('_route')})) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/eprstavia/css/reports.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <h1><small>{% trans %}Station reports{% endtrans %}</small></h1>

    {{ form_start(filterForm) }}
    <div class="row">
        <div class="span3">
            {{ form_widget(filterForm.date_type) }}
        </div>
        <div class="span1">
            {{ form_widget(filterForm.station, {attr: {style: 'width: auto'}}) }}
        </div>
        <div class="span1">
            {{ form_label(filterForm.from) }}
        </div>
        <div class="span3">
            <div class="pull-left">{{ form_widget(filterForm.from, {attr: {class: 'report-date datepicked' }}) }}</div>
            <div class="pull-left">&nbsp;&mdash;&nbsp;</div>
            <div class="pull-left">{{ form_widget(filterForm.to, {attr: {class: 'report-date datepicked' }}) }}</div>
        </div>
        <div class="span1">{{ form_widget(filterForm.show, {attr: {class: 'btn btn-primary' }}) }}</div>
        <div class="span1">{{ form_widget(filterForm.export, {attr: {class: 'btn' }}) }}</div>
    </div>
    {{ form_end(filterForm) }}

    <hr>

    {% if items is not empty %}
        <table class="report table table-bordered table-condensed" border="0" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th>{% trans from 'reports' into lang %}O/n{% endtrans %}</th>
                    <th>{% trans from 'reports' into lang %}Waybill{% endtrans %}</th>
                    <th>{% trans from 'reports' into lang %}Waybill date{% endtrans %}</th>
                    <th>{% trans from 'reports' into lang %}Source airport{% endtrans %}</th>
                    <th>{% trans from 'reports' into lang %}Destination airport{% endtrans %}</th>
                    <th>{% trans from 'reports' into lang %}Gross weight{% endtrans %}</th>
                    <th>{% trans from 'reports' into lang %}Carrier paid weight{% endtrans %}</th>
                    <th>{% trans from 'reports' into lang %}Number of pieces{% endtrans %}</th>
                    <th>{% trans from 'reports' into lang %}Volume{% endtrans %}</th>
                    <th>{% trans from 'reports' into lang %}Goods nature{% endtrans %}</th>
                    <th>{% trans from 'reports' into lang %}Departure date{% endtrans %}</th>
                    <th>{% trans from 'reports' into lang %}Total{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            {% for index, item in items %}
                <tr>
                    <td>{{ index + 1 }}</td>
                    <td>{{ mapper.get(item, "Waybill") }}</td>
                    <td>{{ mapper.get(item, "Waybill date") }}</td>
                    <td>{{ mapper.get(item, "Source airport") }}</td>
                    <td>{{ mapper.get(item, "Destination airport") }}</td>
                    <td>{{ mapper.get(item, "Gross weight") }}</td>
                    <td>{{ mapper.get(item, "Carrier paid weight") }}</td>
                    <td>{{ mapper.get(item, "Number of pieces") }}</td>
                    <td>{{ mapper.get(item, "Volume") }}</td>
                    <td>{{ mapper.get(item, "Goods nature") }}</td>
                    <td>{{ mapper.get(item, "Departure date") }}</td>
                    <td>{{ mapper.get(item, "Carrier total") }}</td>
                </tr>
            {% endfor %}
                <tr>
                    <th colspan="11" style="text-align: right">{% trans %}Total{% endtrans %}:</th>
                    <td>{{ itemsTotal }}</td>
                </tr>
            </tbody>
        </table>
    {% endif %}
{% endblock %}
