{% extends 'EprstAcargoBundle:Default:index.html.twig' %}

{% block left %}
    {{ render(controller('EprstAcargoBundle:Menu:leftMenu', {_route: app.request.attributes.get('_route')})) }}
{% endblock %}

{% block content %}
    <h1><small>{% trans %}Edit station{% endtrans %}</small></h1>

    {% include 'EprstAviaBundle:Station:form.html.twig' %}
{% endblock %}
