{% form_theme form ':Form:twbs_form_row.html.twig' %}

{{ form_start(form) }}
<div class="row">
    <div class="span5">
            {{ form_row(form.name) }}
            {{ form_row(form.country) }}
            {{ form_row(form.stationStatus) }}
            {{ form_row(form.isArrival) }}
            {{ form_row(form.isDeparture) }}
    </div>
    <div class="span6">
            {{ form_row(form.description) }}
            {{ form_row(form.active) }}
    </div>
</div>

{{ form_end(form) }}