{% extends 'EprstAcargoBundle:Default:index.html.twig' %}

{% block left %}
    {{ render(controller('EprstAcargoBundle:Menu:leftMenu', {_route: app.request.attributes.get('_route')})) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('table')
                .acRowSelect()
                .tablesorter({
                    theme: "bootstrap",
                    widthFixed: true,
                    headerTemplate: '{content} {icon}'
                });
    </script>
{% endblock %}

{% block content %}
    <h1><small>
            {% if type == 'arrival' %}
                {% trans %}Arrival stations{% endtrans %}
            {% elseif type == 'departure' %}
                {% trans %}Departure stations{% endtrans %}
            {% else %}
                {% trans %}Station list{% endtrans %}
            {% endif %}
        </small></h1>

    {% if items is not empty %}
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>{% trans %}Description{% endtrans %}</th>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th>{% trans %}Country{% endtrans %}</th>
                    <th>{% trans %}Status{% endtrans %}</th>
                    <th>{% trans %}Active{% endtrans %}</th>
                    <th>{% trans %}Direction{% endtrans %}</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.description }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.country }}</td>
                    <td>
                        {% if item.stationStatus.name == 'ok' %}
                            <span class="label label-success">{{ item.stationStatus.name }}</span>
                        {% elseif item.stationStatus.name == 'deleted' %}
                            <span class="label label-important">{{ item.stationStatus.name }}</span>
                        {% else %}
                            <span class="label label-warning">{{ item.stationStatus.name }}</span>
                        {% endif %}
                    </td>
                    <td><span class="label {{ item.active?'label-success':'label-important' }}">{% if item.active %}{% trans %}Yes{% endtrans %}{% else %}{% trans %}No{% endtrans %}{% endif %}</span></td>

                    <td>
                        {% if item.isDeparture %}<i class="icon-home">Departure</i>{% endif %}
                        {% if item.isArrival %}<i class="icon-map-marker">Arrival</i>{% endif %}
                    </td>
                    <td><a class="ac-edit-link" href="{{ path('geo_stations_edit', {id: item.id}) }}"><i
                                    class="icon-pencil"></i> {% trans %}Edit{% endtrans %}</a></td>
                    <td><a href="{{ path('geo_stations_delete', {id: item.id}) }}"><i
                                    class="icon-trash"></i> {% trans %}Delete{% endtrans %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        There are no stations. <a href="{{ path('geo_stations_add') }}">Add a new station</a>
    {% endif %}
{% endblock %}
