{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div class="alert alert-error">
        <strong>Unfortunately, there was an error during logging in:</strong>
        {{ error|trans }}
    </div>
{% endif %}

    <div style="margin-left: 50%">
        <div style="margin-left: -10em; /*border: 1px solid black; */width: 20em;">

            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" />
<br>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me" style="display: inline-block">{{ 'security.login.remember_me'|trans }}</label>

<br>
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-success" />
            </form>
        </div>

    </div>
{% endblock fos_user_content %}
