{% extends 'EprstAcargoBundle:Default:index.html.twig' %}

{% block left %}
    {{ render(controller('EprstAcargoBundle:Menu:leftMenu', {_route: app.request.attributes.get('_route')})) }}
{% endblock %}

{% block content %}
    <h1><small>{% trans %}Add a person{% endtrans %}</small></h1>

    {% form_theme form ':Form:twbs_form_row.html.twig' %}

    <div class="row-fluid">
        <div class="span6">
            {{ form(form) }}
        </div>
        <div class="span6"></div>
    </div>
{% endblock %}
