{% extends 'EprstAcargoBundle:Default:index.html.twig' %}

{% block left %}
    {{ render(controller('EprstAcargoBundle:Menu:leftMenu', {_route: app.request.attributes.get('_route')})) }}
{% endblock %}

{% block content %}
    <h1><small>{% trans with {'%name%': entity.name} %}Are you sure you want to remove person &laquo;%name%&raquo;?{% endtrans %}</small></h1>

    {{ form(form) }}
{% endblock %}
