{% if items is not empty %}
    <table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <th>{% trans %}Agent{% endtrans %}</th>
            <th>{% trans %}Phone{% endtrans %}</th>
            <th>{% trans %}Email{% endtrans %}</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.agent.name }} ({{ item.agent.directorName }})</td>
                <td>{{ item.phone }}</td>
                <td>{{ item.email }}</td>
                <td><a href="{{ path('avia_agent_people_edit', {id: item.id}) }}"><i
                                class="icon-pencil"></i> {% trans %}Edit{% endtrans %}</a></td>
                <td><a href="{{ path('avia_agent_people_delete', {id: item.id}) }}"><i
                                class="icon-trash"></i> {% trans %}Delete{% endtrans %}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if agent.id %}
        <a href="{{ path('avia_agent_people_add', {agent: agent.id}) }}">{% trans with {'%name%': agent.name} %}Add person to %name%{% endtrans %}</a>
    {% else %}
        <a href="{{ path('avia_agent_people_add') }}">{% trans %}Add person{% endtrans %}</a>
    {% endif %}

{% else %}
    {% if agent.id %}
        {% trans with {"%name%": agent.name} %}There are no responsible people of agent %name%.{% endtrans %}
    {% else %}
        {% trans %}There are no responsible people of any agents.{% endtrans %}
    {% endif %}
    <a href="{{ path('avia_agent_people_add', {agent: agent.id}) }}">{% trans %}Add one...{% endtrans %}</a>
{% endif %}