{% extends 'EprstAcargoBundle:Default:index.html.twig' %}

{% block left %}
    {{ render(controller('EprstAcargoBundle:Menu:leftMenu', {_route: app.request.attributes.get('_route')})) }}
{% endblock %}

{% block content %}
    {% if agent.id %}
        <h1><small>{% trans with {'%name%': agent.name} %}Agent &laquo;%name%&raquo; persons{% endtrans %}</small></h1>
    {% else %}
        <h1><small>{% trans %}Responsibles{% endtrans %}</small></h1>
    {% endif %}

    {% include 'EprstAviaBundle:AgentPeople:list_raw.html.twig' %}
{% endblock %}
