html, body
{
	position: relative;
	padding: 0;
	margin: 0;
}

.logo
{
	width: 12em;
	height: 4em;
	float: left;
	text-align: center;
}

.nav_top
{
	float: left;
	height: 4em;
	margin-left: 0.5em;
	margin-top: 0.5em;
}

.nav_top ul
{
	list-style-type: none;
	padding: 0;
	margin: 1.2em 0 0;
}

.nav_top ul li
{
	float: left;
	margin-left: 1em;
}

.nav_top ul li:first-child
{
	margin-left: 0;
}

.nav_left
{
	/*float: left;*/
	/*width: 15em;*/
	margin-left: 0.5em;
}

.nav_left li .selected
{
	font-weight: bold;
}

.nav_left h1
{
	padding: 0;
	margin: 0.5em 0;
}

.content
{
	margin: 0em 0.5em 0.5em 0.5em;
}