{% extends 'EprstAcargoBundle:Default:index.html.twig' %}

{% block left %}
    {{ render(controller('EprstAcargoBundle:Menu:leftMenu', {_route: app.request.attributes.get('_route')})) }}
{% endblock %}

{% block content %}
    <h1><small>{% trans with {'%value%': entity.value, '%date%': entity.ts|date('d.m.Y')} %}Are you sure you want to delete currency rate %value% on %date%?{% endtrans %}</small></h1>

    {{ form(form) }}
{% endblock %}
