{% extends 'EprstAcargoBundle:Default:index.html.twig' %}

{% block left %}
    {{ render(controller('EprstAcargoBundle:Menu:leftMenu', {_route: app.request.attributes.get('_route')})) }}
{% endblock %}

{% block content %}

    <h1><small>{% trans %}Currency rates{% endtrans %}</small></h1>

    {% if items is not empty %}
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>{% trans %}Date{% endtrans %}</th>
                    <th>{% trans %}Value{% endtrans %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.ts|date('d.m.Y') }}</td>
                    <td>{{ item.value }}</td>
                    <td><a href="{{ path('currency_rates_delete', {id: item.id}) }}"><i
                                    class="icon-trash"></i> {% trans %}Delete{% endtrans %}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {% trans %}There are no currency rates set.{% endtrans %} <a href="{{ path('currency_rates_set') }}">{% trans %}Set new{% endtrans %}</a>
    {% endif %}

{% endblock %}
