{% extends 'EprstAcargoBundle:Default:index.html.twig' %}

{% block left %}
    {{ render(controller('EprstAcargoBundle:Menu:leftMenu', {_route: app.request.attributes.get('_route')})) }}
{% endblock %}

{% block content %}

    <h1><small>{% trans %}Set current rate{% endtrans %}</small></h1>

    {{ form(form) }}

{% endblock %}
