{% extends 'EprstAcargoBundle:Default:index.html.twig' %}

{% block left %}
    {{ render(controller('EprstAcargoBundle:Menu:leftMenu', {_route: app.request.attributes.get('_route')})) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/senchaextjs/extjs/ext-all.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/senchaextjs/extjs/ext-theme-neptune.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/senchaextjs/extjs/locale/ext-lang-ru.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/bazingaexposetranslation/js/translator.min.js') }}"></script>
    <script type="text/javascript" src="{{ path('bazinga_exposetranslation_js') }}"></script>

    {% javascripts '@EprstAviaBundle/Resources/public/js/Eprst/bootstrap.js'
                   '@EprstAviaBundle/Resources/public/js/shipment2/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/senchaextjs/extjs/resources/css/ext-all-neptune.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/eprstavia/css/extjs_bs_adapter.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/eprstavia/css/shipment.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <h1><small>{% trans %}Edit shipment{% endtrans %}</small></h1>

    {% include 'EprstAviaBundle:Shipment:flash.html.twig' %}

    {% include 'EprstAviaBundle:Shipment:shipment_form.html.twig' %}
{% endblock %}
