{% set persist_effects = app.session.flashbag.get('persist_effects') %}
{% if persist_effects is not empty %}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h5>Произошли изменения:</h5>
    <ul>
    {% for msg in persist_effects %}
        <li>{{ ('flash_shipment_'~msg)|trans }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}