{% extends 'EprstAcargoBundle:Default:index.html.twig' %}

{% block left %}
    {{ render(controller('EprstAcargoBundle:Menu:leftMenu', {_route: app.request.attributes.get('_route')})) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('table')
                .acRowSelect()
                .tablesorter({
                    theme: "bootstrap",
                    widthFixed: true,
                    headerTemplate: '{content} {icon}'
                });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/eprstavia/css/shipment.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <h1><small>{% trans %}Shipments{% endtrans %}</small></h1>

    {% include 'EprstAviaBundle:Shipment:flash.html.twig' %}

    {% include 'EprstAviaBundle:Shipment:shipment_filter_form.html.twig' %}

    {% if items is not empty %}
        {% include 'EprstAviaBundle:Shipment:pagination/counter.html.twig' %}

        <table class="table table-bordered table-condensed">

            <thead>
                <tr>
                    <th>{% trans %}Waybill{% endtrans %}</th>
                    <th>{% trans %}Waybill date{% endtrans %}</th>
                    <th>{% trans %}Departure date{% endtrans %}</th>
                    <th>{% trans %}Total weight{% endtrans %}</th>
                    <th>{% trans %}Paid weight{% endtrans %}</th>
                    <th>{% trans %}Number of pieces{% endtrans %}</th>
                    <th>{% trans %}Volume{% endtrans %}</th>
                    <th>{% trans %}Direction{% endtrans %}</th>
                    <th>{% trans %}Agent{% endtrans %}</th>
                    <th class="{sorter: false}"></th>
                    <th class="{sorter: false}"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.fullAirWaybill }}</td>
                    <td>{{ item.dateWaybill|date('Y-m-d')}}</td>
                    <td>{{ item.dateFactDeparture|date('Y-m-d')}}</td>
                    <td>{{ item.grossWeight }}</td>
                    <td>{{ item.chargeableWeightCarrier }}&nbsp;/&nbsp;{{ item.chargeableWeightAgent }}</td>
                    <td>{{ item.numPlaces }}</td>
                    <td>{{ item.volume }}</td>
                    <td>{{ item.srcStation.name }}-{{ item.dstStation.name }}</td>
                    <td>{{ item.agent.name }}</td>
                    <td><a class="ac-edit-link" href="{{ path('avia_shipment_edit', {id: item.id}) }}"><i
                                    class="icon-pencil"></i> {% trans %}Edit{% endtrans %}</a></td>
                    <td><a href="{{ path('avia_shipment_delete', {id: item.id}) }}"><i
                                    class="icon-trash"></i> {% trans %}Delete{% endtrans %}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% include 'EprstAviaBundle:Shipment:pagination/counter.html.twig' %}
        {% include 'EprstAviaBundle:Shipment:pagination/widget.html.twig' %}

    {% else %}
        {% trans %}There are no shipments.{% endtrans %} <a href="{{ path('avia_shipment_add') }}">{% trans %}Add one...{% endtrans %}</a>
    {% endif %}
{% endblock %}
