<script type="text/javascript">{% autoescape false %}
    var placesPrototypeDef = {};
    {% for place in form.places.vars.prototype %}
    placesPrototypeDef["{{ place.vars.name }}"] = {"id": "{{ place.vars.id }}", "name": "{{ place.vars.full_name }}"};
    {% endfor %}

    var editPlaces = [];
    {% if form.places is not empty %}
    {% for idx, subitem in form.places %}
    editPlaces.push({
        numPieces: {{ subitem.numPieces.vars.value|replace(',', '.') }},
        weight: {{ subitem.weight.vars.value|replace(',', '.') }},
        {#totalWeight: 0,#}
        length: {{ subitem.length.vars.value|replace(',', '.') }},
        width: {{ subitem.width.vars.value|replace(',', '.') }},
        height: {{ subitem.height.vars.value|replace(',', '.') }},
        volume: {{ subitem.volume.vars.value|replace(',', '.') }},
        volumeWeight: {{ subitem.volumeWeight.vars.value|replace(',', '.') }}
    });
    {% endfor %}
    {% endif %}

    var haveEditingData = editPlaces.length > 0;

    {% if arrivalStations is defined and arrivalStations is not empty %}
    {% set arrivalStations = "[\"" ~ arrivalStations|join("\",\"") ~ "\"]" %}
    {% else %}
    {% set arrivalStations = "[]" %}
    {% endif %}
{% endautoescape %}</script>

{{ form_start(form, {attr: {id: 'shipment-form'}}) }}
<div class="row">
    <div class="span1">{{ form_label(form.carrier) }}</div>
    <div class="span3">{{ form_errors(form.carrier) }}{{ form_widget(form.carrier) }}</div>
    <div class="span1">{{ form_label(form.agent) }}</div>
    <div class="span3">{{ form_errors(form.agent) }}{{ form_widget(form.agent) }}</div>
    <div class="span4"></div>
</div>
<div class="row">
    <div class="span1">{{ form_label(form.waybill) }}</div>
    <div class="span3">
        <div class="pull-left">
            {{ form_widget(form.waybillPrefix, {attr: {class: 'shipment-awb-prefix' }}) }}
        </div>
        <div class="pull-left">&nbsp;&mdash;&nbsp;</div>
        <div class="pull-left">
            {{ form_widget(form.waybill, {attr: {class: 'shipment-awb' }}) }}
        </div>
    </div>
    <div class="span1">{{ form_label(form.dateWaybill) }}</div>
    <div class="span3">{{ form_widget(form.dateWaybill, {attr: {class: 'datepicked shipment-date' }}) }}</div>
</div>

<div class="row">
    <div class="span1">
        {{ form_label(form.srcStation) }}
    </div>
    <div class="span3">
        {{ form_widget(form.srcStation) }}
    </div>
    <div class="span1">
        {{ form_label(form.dstStation) }}
    </div>
    <div class="span3">
        <input type="text"
               id="{{ form.dstStation.vars.id }}"
               name="{{ form.dstStation.vars.full_name }}"
               value="{{ form.dstStation.vars.value }}"
               required="required" class="shipment-numeric-small" data-provide="typeahead"
               data-items="4"
               data-source='{{ arrivalStations|raw }}'
               autocomplete="off">
    </div>
</div>

<div class="row">
    <div class="span1">
        {{ form_label(form.agentRebate) }}
    </div>
    <div class="span3">
        {{ form_widget(form.agentRebate) }}
    </div>
</div>

<div class="row">
    <div class="span1">
        {{ form_label(form.fzPrice) }}
    </div>
    <div class="span3">
        {{ form_widget(form.fzPrice) }}
    </div>
</div>

{{ form_label(form.places) }}
{{ form_errors(form.places) }}
<div id="{{ form.places.vars.id }}" class="places-grid"></div>
<hr>
<div class="row" id="shipment-calculation-panel">
    <div class="span2">
        {{ form_row(form.chargeableWeightCarrier, {attr: {class: 'shipment-numeric'}}) }}
        {{ form_row(form.chargeableWeightAgent, {attr: {class: 'shipment-numeric' }}) }}
    </div>
    <div class="span2">
        {{ form_row(form.rateCarrier, {attr: {class: 'shipment-numeric' }}) }}
        <div class="shipment-rate-strategies" id="aviabundle_shipmenttype_rateCarrier_widget">
            <div>
                <div class="shipment-rate-strategy-min badge badge-warning">M</div>
                <div class="shipment-rate-strategy-n badge badge-info">N</div>
                <div class="shipment-rate-strategy-45 badge badge-info">45</div>
                <div class="shipment-rate-strategy-100 badge badge-info">100</div>
                <div class="shipment-rate-strategy-300 badge badge-info">300</div>
                <div class="shipment-rate-strategy-500 badge badge-info">500</div>
                <div class="shipment-rate-strategy-1000 badge badge-info">1000+</div>
            </div>
        </div>
        <div class="clearfix"></div>
        {{ form_row(form.rateAgent, {attr: {class: 'shipment-numeric' }}) }}
        <div class="shipment-rate-strategies" id="aviabundle_shipmenttype_rateAgent_widget">
            <div>
                <div class="shipment-rate-strategy-min badge badge-warning">M</div>
                <div class="shipment-rate-strategy-n badge badge-info">N</div>
                <div class="shipment-rate-strategy-45 badge badge-info">45</div>
                <div class="shipment-rate-strategy-100 badge badge-info">100</div>
                <div class="shipment-rate-strategy-300 badge badge-info">300</div>
                <div class="shipment-rate-strategy-500 badge badge-info">500</div>
                <div class="shipment-rate-strategy-1000 badge badge-info">1000+</div>
            </div>
        </div>
    </div>
    <div class="span2">
        <div class="pull-left" style="margin-right: 1px;">
            {{ form_row(form.feeMyc, {attr: {class: 'read_only shipment-numeric-small' }}) }}
        </div>
        <div class="pull-left">
            {{ form_row(form.feeXdc, {attr: {class: 'read_only shipment-numeric-small' }}) }}
        </div>
        <div class="pull-left">
            <input id="aviabundle_shipmenttype_feeAdd_check" type="checkbox" {% if form.vars.value.fee.opt > 0 %}checked{% endif %} />
            <label style="display:inline-block" for="aviabundle_shipmenttype_feeAdd_check">Additional fee</label>
            {{ form_widget(form.feeAdd, {attr: {class: 'shipment-numeric-small' }}) }}
        </div>

        <div class="clearfix"></div>
        {{ form_row(form.totalFee, {attr: {class: 'read_only shipment-numeric-big' }}) }}
    </div>
    <div class="span2">
        {{ form_row(form.totalCarrier, {value: 0, attr: {class: 'read_only shipment-numeric-big' }}) }}
        {{ form_row(form.totalAgent, {value: 0, attr: {class: 'read_only shipment-numeric-big' }}) }}
    </div>
</div>
<hr>
<div class="row">
    <div class="span2">{{ form_label(form.goodsNatureCode) }}</div>
    <div class="span1">{{ form_widget(form.goodsNatureCode, {attr: {class: 'shipment-goods-nature-code' }}) }}</div>
    <div class="span2">{{ form_widget(form.goodsNatureDescription) }}</div>
</div>

{{ form_row(form.dateFactDeparture, {attr: {class: 'datepicked shipment-date' }}) }}

<div class="row">
    <div class="span2">
        <input type="button" class="btn btn-warning" value="Пересчет" id="recalc_button" />
    </div>
    <div class="span2">{{ form_row(form.save, {attr: {disabled: 'disabled'}}) }}</div>
</div>


<!-- Hidden -->
{{ form_widget(form.grossWeight) }}
{{ form_widget(form.volume) }}
{{ form_widget(form.agentRateStrategy) }}
{{ form_widget(form.agentRatePay) }}
{{ form_widget(form.carrierRateStrategy) }}
{{ form_widget(form.carrierRatePay) }}

{{ form_row(form._token) }}

<div id="form_auto_hidden_container"></div>

{{ form_end(form, {render_rest: false}) }}