{{ form_start(filterForm) }}
<div class="row well well-small">
    <div class="span1">{{ form_label(filterForm.waybill) }}</div>
    <div class="span2">{{ form_widget(filterForm.waybill, {attr: {class: "shipment-numeric" }}) }}</div>

    <div class="span1">{{ form_label(filterForm.dateWaybillFrom) }}</div>
    <div class="span3">{{ form_widget(filterForm.dateWaybillFrom, {attr: {class: 'datepicked shipment-date' }}) }} &mdash; {{ form_widget(filterForm.dateWaybillTo, {attr: {class: 'datepicked shipment-date' }}) }}</div>

    <div class="span1">{{ form_label(filterForm.srcStation) }}</div>
    <div class="span2">{{ form_widget(filterForm.srcStation, {attr: {class: 'shipment-station' }}) }} &mdash; {{ form_widget(filterForm.dstStation, {attr: {class: 'shipment-station' }}) }}</div>

    <div class="span1">{{ form_label(filterForm.agent) }}</div>
    <div class="span1">{{ form_widget(filterForm.agent, {attr: {class: 'shipment-numeric' }}) }}</div>

    <div class="span1">{{ form_widget(filterForm.search, {attr: {class: 'btn' }}) }}</div>
</div>
{{ form_end(filterForm) }}