{% spaceless %}
{% if total > limit %}
    <div class="pagination-counter">
        {% trans with {"%start%": (page-1)*limit+1, "%end%": page*limit > total?total:page*limit, "%total%": total} %}Showing shipments %start% - %end% of total %total%{% endtrans %}
    </div>
{% endif %}
{% endspaceless %}