{% spaceless %}
{% if total > limit %}
    <div class="pagination pagination-centered">
        <ul>
            {% if page == 1 %}
                <li class="disabled"><span>&laquo;</span></li>
            {% else %}
                <li><a href="{{ path('avia_shipment_limited', {limit: limit, page: page - 1}|merge(app.request.query.all)) }}">&laquo;</a></li>
            {% endif %}

            {% for pageNum in 1..numPages %}
                {% if pageNum == page %}
                    <li class="active"><span>{{ pageNum }}</span></li>
                {% else %}
                    <li><a href="{{ path('avia_shipment_limited', {limit: limit, page: pageNum}|merge(app.request.query.all)) }}">{{ pageNum }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page >= numPages %}
                <li class="disabled"><span>&raquo;</span></li>
            {% else %}
                <li><a href="{{ path('avia_shipment_limited', {limit: limit, page: page + 1}|merge(app.request.query.all)) }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}
{% endspaceless %}
