body, .x-body {
	background-color: white;
	font-size: 14px;
}

.x-column-header-inner .x-column-header-text {
	white-space: normal !important;
	line-height: 15px;
}

.x-grid-editor input[type=text] {
	margin-bottom: 0;
	border-radius: none;
}