.report .header_formulae
{
	text-align: center;
	font-size: 80%;
}

table.report
{
	border-collapse: collapse;
}

table.report td, table.report th
{
	border: 1px solid black;
	border-collapse: collapse;
}

.report-numeric {
	width: 7em;
}