input.read_only
{
	border: 0;
}

body {
	background-color: white;
}

.places-grid tfoot .x-grid-cell {
	font-weight: bold;
	border-top: 2px solid #888;
}

.places-grid tfoot .x-grid-cell-inner {
	background-color: #F5F5F5;
}

.horizontal-align {
	vertical-align: middle;
}

.shipment-awb-prefix {
	width: 2em;
}

.shipment-awb {
	width: 5em;
}
.shipment-station {
	width: 5em;
}

.shipment-goods-nature-code {
	width: 5em;
}

.shipment-numeric {
	width: 7em;
}

.shipment-numeric-big {
	width: 8em;
}

.shipment-numeric-small {
	width: 3.5em;
}

.shipment-rate-strategies {
	float: right;
}
.shipment-rate-strategies div div {
	display: none;
}

.selected-min .shipment-rate-strategy-min,
.selected-n .shipment-rate-strategy-n,
.selected-range45 .shipment-rate-strategy-45,
.selected-range100 .shipment-rate-strategy-100,
.selected-range300 .shipment-rate-strategy-300,
.selected-range500 .shipment-rate-strategy-500,
.selected-range1000 .shipment-rate-strategy-1000 {
	display: inline-block;
}
