{% for key, item in items if item.name is defined %}
    {% if item.route is defined %}
        <li class="{{ (key in selectedKeys)?"active":"" }}">
            <a href="{{ path(item.route) }}">{{ item.name|trans }}</a>
        </li>
    {% else %}
        {#<li class="">{{ item.name|trans }}</li>#}
    {% endif %}

    {% if item.children is defined %}
        {{ include('EprstAcargoBundle:Menu:left_recursive.html.twig', {items: item.children, selectedKeys: selectedKeys|default(null)}) }}
    {% endif %}
{% endfor %}