<div class="tabbable">
    <ul class="nav nav-pills">
        {{ include('EprstAcargoBundle:Menu:left_recursive.html.twig', {items: leftMenu.children|default([]), selectedKeys: selectedKeys|default([])}) }}
    </ul>
</div>
