{% if navStructure is defined %}
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="{{ path(homeRouteName) }}">{{ applicationTitle }}</a>
            <ul class="nav">
                {% for key, nav in navStructure %}
                    <li class="{{ (key in selectedKeys)?"active":"" }}"><a href="{{ path(nav.route) }}">{{ nav.name|default(key)|trans }}</a></li>
                {% endfor %}
                <li class="divider-vertical"></li>
                <li><a href="{{ path('fos_user_security_logout') }}">{% trans from 'FOSUserBundle' %}layout.logout{% endtrans %}</a></li>
            </ul>
        </div>
    </div>
{% endif %}