{% extends 'EprstAcargoBundle:Default:index.html.twig' %}

{% block left %}
    {{ render(controller('EprstAcargoBundle:Menu:leftMenu', {_route: app.request.attributes.get('_route')})) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/eprstavia/css/reports.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <h1><small>{% trans %}Agent reports{% endtrans %}</small></h1>

    {{ form_start(filterForm) }}
    <div class="row">
        <div class="span6">
            {{ form_widget(filterForm.agent, {attr: {style: 'width: auto' }}) }}
        </div>
    </div>
    <div class="row">
        <div class="span1">
            {{ form_label(filterForm.dateFrom) }}
        </div>
        <div class="span3">
            <div class="pull-left">{{ form_widget(filterForm.dateFrom, {attr: {class: 'report-date datepicked' }}) }}</div>
            <div class="pull-left">&nbsp;&mdash;&nbsp;</div>
            <div class="pull-left">{{ form_widget(filterForm.dateTo, {attr: {class: 'report-date datepicked' }}) }}</div>
        </div>
        <div class="span1">
            {{ form_label(filterForm.currencyRateDate) }}
        </div>
        <div class="span2">
            {{ form_widget(filterForm.currencyRateDate, {attr: {class: 'report-date datepicked' }}) }}
        </div>
        <div class="span1">{{ form_widget(filterForm.show, {attr: {class: 'btn btn-primary' }}) }}</div>
        {% if submitted %}
            <div class="span2">{{ form_widget(filterForm.save, {attr: {class: 'btn btn-info' }}) }}</div>
            <div class="span1">{{ form_widget(filterForm.export, {attr: {class: 'btn' }}) }}</div>
        {% endif %}
    </div>
    {{ form_row(filterForm._token) }}
    {{ form_end(filterForm, {'render_rest': false}) }}

    <hr>

    {% if submitted %}
    {% include 'EprstAviaBundle:AgentReport:report.html.twig' %}
    {% endif %}

{% endblock %}
