{% if items is not empty %}
    <div>Курс конвертации = {{ currencyRate }}</div>
    <table class="report table table-bordered table-condensed" border="0" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th>{% trans from 'reports' into lang %}O/n{% endtrans %}</th>
            <th>{% trans from 'reports' into lang %}Waybill{% endtrans %}</th>
            <th>{% trans from 'reports' into lang %}Waybill date{% endtrans %}</th>
            <th>{% trans from 'reports' into lang %}Departure date{% endtrans %}</th>
            <th>{% trans from 'reports' into lang %}Source airport{% endtrans %}</th>
            <th>{% trans from 'reports' into lang %}Destination airport{% endtrans %}</th>
            <th>{% trans from 'reports' into lang %}Gross weight{% endtrans %}</th>
            <th>{% trans from 'reports' into lang %}Agent paid weight{% endtrans %}</th>
            <th>{% trans from 'reports' into lang %}Agent rate{% endtrans %}</th>
            <th>{% trans from 'reports' into lang %}Agent amount{% endtrans %}</th>
            <th>{% trans from 'reports' into lang %}Dues{% endtrans %}</th>
            <th>{% trans from 'reports' into lang %}Agent total{% endtrans %}</th>
            <th>{% trans from 'reports' into lang %}Agent total RUB{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for index, item in items %}
            <tr>
                <td>{{ index + 1 }}</td>
                <td>{{ mapper.get(item, "Waybill") }}</td>
                <td>{{ mapper.get(item, "Waybill date") }}</td>
                <td>{{ mapper.get(item, "Departure date") }}</td>
                <td>{{ mapper.get(item, "Source airport") }}</td>
                <td>{{ mapper.get(item, "Destination airport") }}</td>
                <td>{{ mapper.get(item, "Gross weight") }}</td>
                <td>{{ mapper.get(item, "Agent paid weight") }}</td>
                <td>{{ mapper.get(item, "Agent rate") }}</td>
                <td>{{ mapper.get(item, "Agent amount") }}</td>
                <td>{{ mapper.get(item, "Dues") }}</td>
                <td>{{ mapper.get(item, "Agent total") }}</td>
                <td>{{ mapper.get(item, "Agent total conv", currencyRate)|number_format(2, '.', '') }}</td>
            </tr>
        {% endfor %}
            <tr>
                <th colspan="11" style="text-align: right">{% trans %}Total{% endtrans %}:</th>
                <td>{{ total_Agent_total }}</td>
                <td>{{ total_Agent_total_RUB }}</td>
            </tr>
        </tbody>
    </table>
{% else %}
    {% trans %}There are no records to show.{% endtrans %}
{% endif %}