{% extends '::base.html.twig' %}

{% block title %}{{ applicationTitle }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/eprstacargo/css/layout.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}
    <div class="nav_top">
        {% block top %}
            {{ render(controller('EprstAcargoBundle:Menu:topMenu', {_route: app.request.attributes.get('_route')})) }}
        {% endblock %}
    </div>

    <div class="clearfix"></div>

    <div class="nav_left">
        {% block left %}
            {{ render(controller('EprstAcargoBundle:Menu:leftMenu')) }}
        {% endblock %}
    </div>

    <div class="content">
        {% block content %}{% trans %}Welcome{% endtrans %}{% endblock %}
    </div>
    <div class="clearfix"></div>
{% endblock %}